/* @import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem;
    background-color: #101010cc;
    border-radius: 1rem;
    pointer-events: none;
    user-select: none;
}

.logoText {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    /* font-family: "Rubik Glitch", cursive; */

    font-size: clamp(2rem, 6vw, 6rem);

    /* background: #ff0000;
    background: linear-gradient(0deg, #ff0000 -20%, #ff8888 80%);
    background: -webkit-linear-gradient(0deg, #ff0000 -20%, #ff8888 80%);
    background: -moz-linear-gradient(0deg, #ff0000 -20%, #ff8888 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.logoImg {
    width: 8rem;
    /* aspect-ratio: 1; */
}

.leftText {
    color: white;
}

.rightText {
    padding-inline: 1rem;
    position: relative;
    z-index: 5;
}

.rightText::after {
    content: "";
    background-color: #e69420;
    position: absolute;
    inset: 0;
    z-index: -5;
    border-radius: 0.75rem;
}
